@charset "utf-8";

	h3{
		text-align:	center;
		color: black;
		background: orange;
}

p{
	color: black ;
	margin-left: 50px;
}
#d3{
	color: darkorange;
	margin-left: 50px;
	height: 300px;
}
#d2{
	color:darkorange;
	margin-left: 50px;
	height: 300px;

}